*{
    margin:0px;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.header{
    height: 45vh;
    padding:150px 10% 100px 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color:white;
    animation: header_start 2500ms;
    .name{
        margin:0px 0px 5px 0px;
    }
    .btns{
        margin:10px 0px;
        display: flex;
        flex-direction: row;
        .resume{
            margin:0px 70px;
            padding:8px;
            border-radius: 14px;
            background-color: white;
            transform: scale(1);
            transition-duration: 500ms;
            &:hover{
                transform: scale(1.1);
                transition-duration: 500ms;
            }
            a{
                text-decoration: none;
                color: black;
                margin: 20px;
                font-weight: bolder;
            }
        }
        .github{
            margin:0px 70px;
            padding:8px;
            border-radius: 14px;
            background-color: white;
            transform: scale(1);
            transition-duration: 500ms;
            &:hover{
                transform: scale(1.1);
                transition-duration: 500ms;
            }
            a{
                text-decoration: none;
                color: black;
                margin: 20px;
                font-weight: bolder;
            }
        }
    }   
}

.project_container{
    margin:0px 10%;
    padding:7.5% 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: gray;
    .project{
        width: 400px;
        height: auto;
        overflow: hidden;
        margin:10px;
        padding:0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 0px solid transparent;
        transform:scale(1);
        transition-duration: 450ms;
        &:hover{
            transform:scale(1.03125);
            transition-duration: 450ms;
            box-shadow: 8px 8px 20px black;
        }
        a{
            text-decoration: none;
            color:black;
            .img_container{
                width: 400px;
                height:auto;
                img{
                    width:100%;
                    height: suto;
                }
            }
            .description_container{
                text-align: center;
                width:100%;
                padding:0px 10% 10px 10%;
                background-color: lightgray;
                box-shadow: 0px -40px 30px lightgray;
            }
            .project_title{
                margin-bottom: 5px;
            }
            .project_description{
                background-color: black;
                color:white;
                padding:15px;
            }
            .language_used{
                margin-top:5px;
            }
        }
    }
}

@keyframes header_start{
    0%{
        height: 100vh;
        width: 100%;
        z-index: 5;
        position: absolute;
        top: 0px;
        padding: 35% 10%;
    }
    100%{
        height: 45vh;
        padding:150px 10% 100px 10%;
    }
}